<!DOCTYPE html>
<html>
<head>
  <title>UrodParser</title>
  <style>
    html,
    body {
      font-family: arial;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  </style>
</head>
<body>
<div>site: <a href="http://urod.ru">urod.ru</a></div>
<div>telegram: <a href="https://t.me/urodru">@urodru</a></div>
</body>
</html>
